<h1>{{userName}}'s Watch List</h1>

{{#each suspects}}
<h2>{{name}}</h2>
<img src="{{img}}" alt="image here" />
<ul>
    <li>
        <p>Offenses: {{offenses}}</p>
    </li>
    <li>
        <p>Suspicion Level: {{suspicionLevel}}</p>
    </li>
</ul>
<h3>Comments</h3>
<ul>
    <li>{{comments}}</li>
</ul>
<form action="/user/{{../userId}}/suspects/{{this.id}}/edit" method="get">
    <button type='submit'>Update</button>
</form>
<form action="/user/{{../userId}}/suspects/{{this.id}}/show" method="get">
    <button type='submit'>Show</button>
</form>
<form action="/user/{{../userId}}/suspects/{{this.id}}/comments/new" method="get">
    <button type='submit'>Comments</button>
</form>
{{/each}}
<form action="/user/{{userId}}/suspects/new" method="get">
    <button type='submit'>Create New Suspect</button>
</form>