<h1></h1>
<h1>{{susPerson.name}} has been up to no good</h1>

<form action="/user/{{userId}}/suspects" method="POST">
    <h2>{{name}}</h2>
    <img src="{{susPerson.img}}" alt="image here" />
    <ul>
        <li>
            <p>Offenses: {{susPerson.offenses}}</p>
        </li>
        <li>
            <p>Suspicion Level: {{susPerson.suspicionLevel}}</p>
        </li>
    </ul>
    <h3>Comments</h3>
    <ul>
        <li>{{susPerson.comments}}</li>
    </ul>
</form>

<form action="/user/{{userId}}/suspects/{{suspectId}}?_method=DELETE" method="POST">
    <button type="submit">Delete Suspect</button>
</form>