<h1>{{suspiciousIndividual.name}}</h1>
<p>{{suspiciousIndividual.offenses}}</p>
<p>{{suspiciousIndividual.img}}</p>
<p>{{suspiciousIndividual.suspicionLevel}}</p>

<form action="/susPerson/{{suspiciousIndividual._id}}?_method=DELETE" method="POST">
  <button type="submit">Delete Suspect</button>
</form>